{#
/**
 * @file validation_entity.html.twig
 * Default theme implementation to present Validation data.
 *
 * This template is used when viewing Validation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_validation_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('validation_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
